<%- include('./partials/header'); %>

<div class="dashboard">
    <div class="icon">
        <i class='bx bxl-xing'></i>
        <a href=" ">View Site<i class='bx bx-chevron-down'></i> </a>
        </div>
        <div class="dash">
            <div class="home">
                <div class="hp">
                    <h2>Dashboard</h2>
                <p>Home / Dashboard</p>
                </div>
                <div class="hp-1">
                    <a id="Admin" href=""> Admin</a>
                </div>
               
            </div>    
           
        </div>
        <div class="boxes">
            <div class="box">
                <div style="padding-right:10px;"><i style="font-size: 42px;"; class='bx bx-user-voice'></i></div>
                <div>
                    <h5 style="text-align: center;">1</h5>
                    <p>total Admin</p>
                </div>
                
            </div>
            <div class="box">
                <div style="padding-right:10px;"><i style="font-size: 42px;"; class='bx bx-user-voice'></i></div>
                <div>
                    <h5 style="text-align: center;">10</h5>
                    <p>total Coustomer</p>
                </div>        
            </div>

            <div class="box">
                <div style="padding-right:10px;"><i style="font-size: 42px;"; class='bx bx-user-voice'></i></div>
                <div>
                    <h5 style="text-align: center;">9</h5>
                    <p>Blog</p>
                </div>        
            </div>
            <div class="box">
                <div style="padding-right:10px;"><i style="font-size: 42px;"; class='bx bx-user-voice'></i></div>
                <div>
                    <h5 style="text-align: center;">50</h5>
                    <p>total product</p>
                </div>        
            </div>

            <div class="box">
                <div style="padding-right:10px;"><i style="font-size: 42px;"; class='bx bx-user-voice'></i></div>
                <div>
                    <h5 style="text-align: center;">500</h5>
                    <p>complete sale</p>
                </div>        
            </div>

            <div class="box">
                <div style="padding-right:10px;"><i style="font-size: 42px;"; class='bx bx-user-voice'></i></div>
                <div>
                    <h5 style="text-align: center;">50</h5>
                    <p>Pending sales</p>
                </div>        
            </div>

            <div class="box">
                <div style="padding-right:10px;"><i style="font-size: 42px;"; class='bx bx-user-voice'></i></div>
                <div>
                    <h5 style="text-align: center;">1000</h5>
                    <p>Sold Items</p>
                </div>        
            </div>

            <div class="box">
                <div style="padding-right:10px;"><i style="font-size: 42px;"; class='bx bx-user-voice'></i></div>
                <div>
                    <h5 style="text-align: center;">2</h5>
                    <p>ongoing complain </p>
                </div>        
            </div>
    </div>

            <div class="col">
                <div class="left-earned">
                    <div class="month">
                        <h3>Earned Per Month In 2022</h3>
                    </div>
                    <div class="day">
                        <h3>Product Order in Last 30 days</h3>
                    </div>
                </div>
                <div class="right-earned">
                    <div class="month">
                        <h3>Earned Per Month In 30 days</h3>
                    </div>
                    <div class="day">
                        <h3>Product sold in Last 30 days</h3>
                    </div>
                </div>
            </div>
    </div>
    

<%- include('./partials/footer'); %>
